/* @media only screen and (min-width: 600px) {
    body {
      background-color: white;
    }
} */
body{
    padding-top: 60px;
    margin: 0px;
}

#navbar{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 0px;
    height:60px;
    display: inline-block;


}
#nav-item{
    display: inline;
    margin: 0%;
    padding: 0%;
    display: block;

}

.container{
    background-color: yellow;
    margin: auto;
    width: 80%;
    min-width: 1200px;
    height: 100vh;

}
#video{

background-color: brown;
    width: 75%;
    height:100vh;
    float:left;
}

#sidebar{
    background-color: blue;
    width: 25%;
    height:100vh;
    float:right;
}

#logo{
    max-height: 100%;
    float: left;
}
#srch{
    display:block;
    padding:0%;
    margin: auto;
   
}
nav ul li{
    float: left;
    

}
nav ul{
    float: right;
}