#navbar{
    background-color: red;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: auto;
    
}
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}
#nav-item{
    display: inline;
    margin: 0%;
    padding: 0%;
    display: block;

}
/* #all{
    width: 100%;
    height: 100vh;
    background-color: aqua;

} */

#video{
    background-color: green;
    width:60%;
    height:100vh;
    float:left;
}

#sidebar{
    background-color: blue;
    width:40%;
    height:100vh;
    float:left;
}