
body{
    margin: 0px;
   
    /* Can't gaurantee anything smaller with only html and css */
}

/* Fonts stylization */
* {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
}


.grey{
    color: rgb(131, 131, 131);
}


/* --- */

/* General */
.grey-color{
    color:grey;
}

.border-bottom{
    border-bottom: 1px solid;
    border-color: rgb(192, 192, 192);
}

* svg {
    fill: rgb(95, 95, 95);
    max-height: 24px;
    max-width: 24px;;
}

/*  */


/* Header */
.header{
    display: grid;
    grid-template-columns: 160px auto 248px;

    top:0px;
    right:0px;
    left:0px;

    z-index: 999;
    background-color: white;
    position: fixed;

    padding: 8px;
    height: 40px;

    box-shadow: 0px 5px 0px 0px rgb(250, 250, 250);
    
}


.header-left {
    display: flex;
    margin: 0;
}

.header-left a{
    margin: 0px;
    height: 24px;
    width: 24px;
    padding: 8px;
    align-self: center;  
}

#logo{
    padding-left: 0px;
}

.header-left a img{
    height: 100%;
    width: auto;
}

.search{
    justify-self: stretch;
}



.header-right{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    margin: 0;
    height: 40px;
    align-self: center;
    justify-self: right;
}

.header-right a{
    height: 24px;
    width: 24px;
    padding: 8px;
    align-self: center;
    margin-right: 8px;  
}

#user{
    height: 32px;
    width: 32px;
    padding: 8px;

}

#user img{
    height: 100%;
    border-radius: 50%;
}



.header-right a img{
    align-self: center;
    margin-bottom: 10%;
    height: 120%;
    width: auto;
}


/* End of Header */


.container {
    padding: 24px;
    margin-top: 56px;
    display: grid;
    grid-template-areas: 
    "video "
    "sidebar"
    "comments";
    height: 100%;

}


/* Video section */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
   
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-title{
    font-size: 9px;
    padding: 8px 0px;

}

.video-title div{
    max-height: 62px;
}
.video-title span{
    font-size:16px;
    
}

.video-info{
    margin-bottom: 24px;
    padding-bottom: 16px;
    display: grid;
    grid-template-rows: 67px auto;
}

.owner{
    display: grid;
    grid-template-columns: 64px 1fr 1fr;
    align-items: center;
    padding-top: 16px;
}


.owner-icon img{
    border-radius: 50%;
}

.owner-name h1{
    font-size: 14px;
    font-weight: bold;
    margin:0px;
}

.owner-name p{
    font-size: 14px;
    margin:0px;
}

.subscribe{
    justify-self: right;
    background-color: red;
    height: 37px;
    width: 140px;
    border-radius: 2px;
    display: grid;
    justify-content: center;
}
.subscribe a{
    /* font-weight: bold; */
    border-radius: 2px;
    color:white;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
}



.description{
    margin-top: 14px;
    margin-left: 64px;
}
.description p{
    margin: auto;
    font-size: 15px;
}

.description a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;

}




/* Sidebar */



.next *{
    margin: 0;
}

.next{
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 100px;
    justify-items: space-between;
}

.next div{
    align-items: center;
    display: grid;
    grid-template-columns: auto 20px;

}

.next div h4{
    align-self: center;
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.next div label{
    align-self: center;
}



.break{
    padding: 2px;
    margin-bottom: 16px;
}

.thumbnail-container{
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 168px auto;
}


.thumbnail a img{
    width:168px;
    height: 94px;
}

.thumbnail-info{
    margin-left: 8px;
}

.thumbnail-info * {
    margin: 0;
    font-size: 14px;
}

.thumbnail-info h1{
    font-weight: 600;
}

.thumbnail-info p {
    margin: 2px 0;
}


/* Responsive media query */


@media screen and (min-width: 650px) {
    .header-left a{
        margin-right: 16px;
    }

}

@media screen and (min-width: 1000px) {
    .container {
        grid-template-areas: 
        "video sidebar"
        "comments sidebar"; 
        grid-template-columns: 664px auto;  
    }
    .sidebar{
        margin-left: 24px;
        padding-right: 24px;
    }
    .header{
        padding: 8px 16px;

}

@media screen and (min-width: 1100px) {
    .container{
        max-width: 1650px;
        margin:56px auto;
        grid-template-columns: 1fr 400px; 
    }
}

/*  */