/* @media only screen and (min-width: 600px) {
    body {
      background-color: white;
    }
} */
body{
    padding-top: 60px;
    margin: 0px;
    background-color: rgb(250, 250, 250);
}

#navbar{
    background-color: rgb(56, 56, 56);
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 0px;
    height:60px;
    display: inline-block;
    z-index: 9999;
}
#nav-item{
    display: inline;
    margin: 0%;
    padding: 0%;
    display: block;

}
.float-left{
    float: left;
}
#logo{
    max-height: 100%; 
}
#createvideo{
    max-height: 100%;
}
#srch{
    display:block;
    padding:0%;
    margin: auto;
   
}
.btn{
    background-color: black;
    border: none;
    padding: 12px 16px;
    font-size: 38px;
    cursor: pointer;
    color:white;
}
nav ul li{
    float: left;
    padding-left: 1%;
}
nav ul{
    float: right;
    list-style-type: none;
}

.container{
    margin: auto;
    width: 80%;
    min-width: 1200px;
    height: 100vh;
    padding:10px;
}
#video{
    background-color: brown;
    width: 72%;
    height:100vh;
    float:left;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
   
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#sidebar{
    background-color: blue;
    width: 26%;
    height:100vh;
    float:right;
}

.suggestion{

}

.suggestion a img {
    float: left;
    width: 168px;
}
.suggestion div {
    float: right;
    background-color: blueviolet;
}

